<div class="row-fluid">
     <table class="table table-striped table-bordered table-condensed"  id="usertable">
    <thead>
      <tr>
        <th>Time</th>
        <th>Broadcast Id</th>
        <th>Message</th>
        <th>Publisher Name</th>
      </tr>
    </thead>
    <tbody>
       <tr class="list-users" th:each="broadcastedMessage : ${outGoingSms} ">
     <!--   <td th:text="${iterationStatus.count}">1</td> -->

        <td th:text="${broadcastedMessage.broadcastedTime}">Time</td> 
        <td th:text="${broadcastedMessage.broadcastId}">Message Id</td> 
         <td th:text="${broadcastedMessage.textContent}">Message Content</td> 
        <!--  <td th:text="${organizationmembership.role}">OrganizationMembership number</td>  -->
      
      <td th:text="${broadcastedMessage.publisher.name}">Name</td> 
        
       
      </tr>
    </tbody>
  </table>
  
</div>

 
<!-- /.modal-content --> 
<!-- /.modal-dialog -->