<div class="row-fluid">

	<div th :if="${message !=null}">
		<table class="table table-striped table-bordered table-condensed"
			id="usertable">
			<thead>
				<tr>
					<th>Order ID</th>
					<th>User Name </th>
					<th>Message</th>
					<th>Comment</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr class="list-users" th:each="voiceMessage : ${message} ">

					<td th:text="${voiceMessage.order.orderId}">Message Id</td>
					<td th:text="${voiceMessage.user.name}">Name</td>
					<td>
						<a th:href="${voiceMessage.voice.url}" target="_blank">Play Voice Message</a>
					</td>
					<td	th:text="${voiceMessage.comments}">Comments</td>
					<td>
						<a th:href="'generateBill/'+${voiceMessage.order.orderId}" target="_blank" class="btn btn-primary">
								<i class="icon-white  icon-file"></i> View
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div th:if="${message == null}">
		<B>No New Message </B>

	</div>
</div>


<!-- /.modal-content -->
<!-- /.modal-dialog -->